.header-title{
    text-align: center;
}



.entry-title{
    color:blue;
    text-align: center;
}

.entry-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   border-radius:10px;
   padding:5px;
}

.entry-location{
    text-align: center;

}

.entry-text{
    text-align: center;

}

.page-footer{
  color: black;
  text-align: center;
}